body {
  margin: 0;
}
a {
  
  text-decoration: none;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0px;
  padding: 20px;
}
ol {
  font-size: 20px;
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding: 20px;
}
#clip {
  margin: 50px 50px;
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol {
  padding-left: 33px;
}
#article {
  padding-left: 25px;
}
@media (max-width: 800px) {
  /* 800보다 작을 때 아래를 따른다.*/
  #grid {
    display: block;
  }
  ol {
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }
}
#night_day {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
#night_day:hover {
  opacity: 1;
}

.responsive {
  width: 100%;
  max-width: 1080px;
  height: auto;
}

.clip {
  di splay: flex;
  justify-content: center;
  align-items: center;
}
